<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Project Movies</span>
  <a
    routerLink="/users"
    routerLinkActive="active"
    mat-flat-button
    color="primary"
    ><mat-icon>person</mat-icon> Users</a
  >
  <a
    routerLink="/extended-users"
    routerLinkActive="active"
    mat-flat-button
    color="primary"
    ><mat-icon>group</mat-icon> Extended users</a
  >
  <span class="spacer"></span>
  @if(userNameSignal()){
  <span>{{ userNameSignal() }}</span>
  <a
    routerLinkActive="active"
    mat-flat-button
    color="primary"
    (click)="logout()"
    ><mat-icon>logout</mat-icon> Log out</a
  >
  } @else {
  <a
    routerLink="/login"
    routerLinkActive="active"
    mat-flat-button
    color="primary"
    ><mat-icon>login</mat-icon> Log in</a
  >
  }
</mat-toolbar>
